.spa-main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    height: 50px;
    text-align: center;
}   
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.right-section form, .left-section form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding:  20px;
    background-color: #ececec;
    box-sizing: border-box
}
.card{
    width: 350px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.card-content{
    padding: 10px 20px;
}
